<!-- Home feed -onglet Msg -->
<% content_for @title= "Accueil" %>
<!-- component -->
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden');" @resize.window="watchScreen()">
      <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
        <div
          x-ref="loading"
          class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-indigo-800"
        >
          Chargement.....
        </div>

        <!-- Sidebar -->
        <div class="flex flex-shrink-0 transition-all">
          <div
            x-show="isSidebarOpen"
            @click="isSidebarOpen = false"
            class="fixed inset-0 z-10 bg-black bg-opacity-50 lg:hidden"
          ></div>
          <div x-show="isSidebarOpen" class="fixed inset-y-0 z-10 w-16 bg-white"></div>

          <!-- Mobile bottom bar -->
          <nav
            aria-label="Options"
            class="fixed inset-x-0 bottom-0 flex flex-row-reverse items-center justify-between px-4 py-2 bg-white border-t border-indigo-100 sm:hidden shadow-t rounded-t-3xl"
          >
            <!-- Menu button -->
            <button
              @click="(isSidebarOpen && currentSidebarTab == 'linksTab') ? isSidebarOpen = false : isSidebarOpen = true; currentSidebarTab = 'linksTab'"
              class="p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2"
              :class="(isSidebarOpen && currentSidebarTab == 'linksTab') ? 'text-white bg-indigo-600' : 'text-gray-500 bg-white'"
            >
              <span class="sr-only">Toggle sidebar</span>
              <svg
                aria-hidden="true"
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
              </svg>
            </button>

            <!-- Logo -->
            <%= link_to root_path do %>
              <p>Yup App Support</p>
            <% end %>
            
            

          <!-- Left mini bar -->
          <%= render "home/shared/left_navbar" %>
          
            <!-- Export Onglet-->
          <%= render "home/shared/exports" %>

        <div class="flex flex-col flex-1">
          <%= render "home/shared/header" %>

          <div class="flex flex-1">
            <!-- Main -->
            <main class="flex flex-1 ">
                <%= render "shared/dashboard/feed/index" %>
              <!-- Content -->
            </main>
          </div>
        </div>
      </div>

      <!-- Panels -->

      <!-- Settings Panel -->
      <!-- Backdrop -->
      <div
        x-show="isSettingsPanelOpen"
        class="fixed inset-0 bg-black bg-opacity-50"
        @click="isSettingsPanelOpen = false"
        aria-hidden="true"
      ></div>
      <!-- Panel -->
      <section
        x-transition:enter="transform transition-transform duration-300"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transform transition-transform duration-300"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full"
        x-show="isSettingsPanelOpen"
        class="fixed inset-y-0 right-0 w-1/5 bg-white border-l border-indigo-100 rounded-l-3xl">
        <div class="px-2 py-8">
          <h1 class="text-3xl font-semibold text-gray-700">Nouveau Ticket</h1>
        </div>
        <%= render "home/shared/slide-rigth" %>
      </section>
    </div>
