
<!-- home page /!-->
<% if user_signed_in? %>
  <%= render "tickets/shared/logged_in" %>
<% else %>
    <%= render "tickets/shared/logged_up" %>
<% end %>









<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Full name</th>
      <th>Service</th>
      <th>Montant</th>
      <th>Operation</th>
      <th>Ref operation</th>
      <th>Ref facturier</th>
      <th>Description</th>
      <th>Contact</th>
      <th>Slug</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.full_name %></td>
        <td><%= ticket.service %></td>
        <td><%= ticket.montant %></td>
        <td><%= ticket.operation %></td>
        <td><%= ticket.ref_operation %></td>
        <td><%= ticket.ref_facturier %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.contact %></td>
        <td><%= ticket.slug %></td>
        <td><%= ticket.user %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
