<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- RENDER HEADERS-->
    <%= render "layouts/shared/headers" %>
  </head>

  <body class="bg-gray-100">
    <!-- Notices-->
    <%= render "layouts/shared/noticed" %>
    <%= yield %>

    <!-- Js scripting -->
    <%= render "layouts/shared/footers" %>
   
  </body>

</html>
